# use this for the start gcode:
# Orca:
# M190 S0 ; Prevents slicer from prepending m190 to the gcode
# M109 S0 ; Prevents slicer from prepending m109 to the gcode
# PRINT_START EXTRUDER_TEMP=[nozzle_temperature_initial_layer] BED_TEMP=[bed_temperature_initial_layer_single]
#
# Prusa:
# M190 S0 ; Prevents slicer from prepending m190 to the gcode
# M109 S0 ; Prevents slicer from prepending m109 to the gcode
# PRINT_START EXTRUDER_TEMP=[first_layer_temperature] BED_TEMP=[first_layer_bed_temperature]
[gcode_macro PRINT_START]
description: Setup printer
gcode:
    SET_PIN PIN=caselight VALUE=1
    # use 'foo' to see if this works
    {% set MATERIAL = params.MATERIAL|default('FOO')|string %}
    RESPOND MSG="Material passed by slicer = {MATERIAL}"

    {% set BED_TEMP = params.BED_TEMP|default(50)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

    M140 S{BED_TEMP}
    G90

    #home
    G28 NO_CENTER=1

    # Move the nozzle near the bed
    G1 X0 Y0 Z5 F3000
    # Move the nozzle very close to the bed
    # Any extrusion should catch on the side when the head moves
    G1 Z0.3 F300

    # Wait for bed to reach temperature
    M190 S{BED_TEMP}

    ## Leave this out for now
    # chamber preheat
    # {% set MATERIAL = params.MATERIAL|default('PLA')|string %}
    # {% set CHAMBER_PREHEAT = 60 %} # seconds
    # {% if MATERIAL == "ABS" %}
    #     G4 S{CHAMBER_PREHEAT} # wait for bed to heat chamber
    # {% elif MATERIAL == "ASA" %}
    #     G4 S{CHAMBER_PREHEAT} # wait for bed to heat chamber
    # {% endif %}

    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

    # Needs testing with Orca
    # # exhaust fan
    # UPDATE_DELAYED_GCODE ID=AUTO_EXHAUST_SHUTDOWN DURATION=0
    # {% if MATERIAL == "PLA" %}
    #     SET_PIN PIN=exhaust_fan VALUE=255
    # {% elif MATERIAL == "ABS" %}
    #     SET_PIN PIN=exhaust_fan VALUE=0
    # {% elif MATERIAL == "ASA" %}
    #     SET_PIN PIN=exhaust_fan VALUE=0
    # {% else %}
    #     SET_PIN PIN=exhaust_fan VALUE=127
    # {% endif %}

[gcode_macro PRINT_END]
description: Clean up after printing
gcode:
    # set timeout back to configured value
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
    CLEAR_PAUSE

    # retract filament
    G1 E-3 F1800

    # extruder, bed cooldown
    M104 S0
    M140 S0

    # blast the extruder head to quicken the cooldown
    M106 P0

    # fans delay shutdown
    UPDATE_DELAYED_GCODE ID=DELAYED_PART_FAN_SHUTDOWN DURATION=30
    UPDATE_DELAYED_GCODE ID=AUTO_EXHAUST_SHUTDOWN DURATION={{% 60 * 5 %}}

    # lower bed, move away from print
    G91
    G0 Z3 F600
    G90
    G0 X0 Y0 F3000
    G0 Z{printer.toolhead.axis_maximum.z-20} F600

    M220 S100 #feedrate
    M221 S100 #flow
    M84 # disable steppers

    BED_MESH_CLEAR
    BED_MESH_PROFILE LOAD=default
    G31

[delayed_gcode DELAYED_PART_FAN_SHUTDOWN]
gcode:
    M106 P0 S0

[delayed_gcode AUTO_EXHAUST_SHUTDOWN]
gcode:
    M106 P3 S0

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    ; check that zhop doesn't exceed z max
    {% if (printer.gcode_move.position.z) < printer.toolhead.axis_maximum.z-20 %}
        G1 Z150 F600
    {% endif %}
    G1  X0 Y0 F7800
    M107
    M106 T-2 S0

    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    ; z hop amount
    {% set z = params.Z|default(50)|int %}

    {% if printer['pause_resume'].is_paused|int == 0 %}
        ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}
        ; set hotend temp variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}
        ; disable filament sensor
#       SET_FILAMENT_SENSOR SENSOR=fila ENABLE=0
        ; save current print position for resume
        SAVE_GCODE_STATE NAME=PAUSE
        ; pause print
        BASE_PAUSE
        ; check that zhop doesn't exceed z max
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}
            ; relative positioning
            G91
            ; raise Z up by z hop amount
            G1 Z{z} F900
        {% else %}
            ; if z max is exceeded, show message and set zhop value for resume to 0
#           { action_respond_info("Pause zhop exceeds maximum Z height.") }
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        SAVE_GCODE_STATE NAME=PAUSEPARK2
        ; absolute positioning
        G90
        ; park toolhead at front center
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y} F6000
        ; save parked position in case toolhead is moved during the pause
        ; (otherwise the return zhop can error)
        SAVE_GCODE_STATE NAME=PAUSEPARK
        ; turn off hotend
        M104 S0
        ; set timeout to 12 hours
        SET_IDLE_TIMEOUT TIMEOUT=86400
        SET_STEPPER_ENABLE STEPPER=extruder enable=0
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    ; hotend prime amount (in mm)
    {% set e = params.E|default(2.5)|int %}

    {% if printer['pause_resume'].is_paused|int == 1 %}
         ; enable filament sensor
#        SET_FILAMENT_SENSOR SENSOR=fila ENABLE=1
        ; reset LCD color
        #INITIAL_RGB
        ; set timeout back to configured value
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
        {% if etemp > 0 %}
            ; wait for hotend to heat back up
            M109 S{etemp|int}
        {% endif %}
        ; go back to parked position in case toolhead was moved during pause
        ; (otherwise the return zhop can error)
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100
        ; relative positioning
        G91
        ; relative extruder positioning
        M83
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            ; prime nozzle by E, lower Z back down
            G1  E{e} F900
#        {% else %}
             ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
#            G1 Z{zhop * -1} F900
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK2 MOVE=1 MOVE_SPEED=100
        ; restore position
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60
        ; resume print
        BASE_RESUME
    {% endif %}

# found in https://github.com/QIDITECH/QIDI_SMART3/issues/30#issue-2141086294
[homing_override]
set_position_X:0
set_position_y:0
set_position_z:0
axes:xy
gcode:
    {% set HOME_CUR = 1 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set HOLD_CUR = driver_config.hold_current %}

    {% if params.X is defined %}
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8}
        G28 X
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
        BEEP I=1 DUR=100
        G1 X10 F1200
    {% endif %}

    {% if params.Y is defined %}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR * 0.9}
        G28 Y
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
        BEEP I=1 DUR=100
        G1 Y10 F1200
    {% endif %}

    {% if params.Z is defined %}
        # G90
        # G1 X{printer.toolhead.axis_maximum.x/2 - printer.probe["x_offset"]} Y{printer.toolhead.axis_maximum.y/2 - printer.probe["y_offset"]} F7800
        # G91

        G28 Z
        G1 Z20 F480
        BEEP I=1 DUR=100
    {% endif %}

    {% if params.X is undefined %}
    {% if params.Y is undefined %}
    {% if params.Z is undefined %}
        G91

        # make sure that X is in the safe place
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8}
        G28 X
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
        G1 X50 F2400

        # make sure that Y is in the safe place
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR * 0.9}
        G28 Y
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
        G1 Y50 F2400

        # ready for the homing

        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8}
        G28 X
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
        BEEP I=1 DUR=100
        G1 X10 F1200

        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR * 0.9}
        G28 Y
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
        BEEP I=1 DUR=100

        G90
        G1 X{printer.toolhead.axis_maximum.x/2 - printer.probe["x_offset"]} Y{printer.toolhead.axis_maximum.y/2 - printer.probe["y_offset"]} F7800
        G91

        G28 Z
        BEEP I=1 DUR=100
        G1 Z50  F480
    {% endif %}
    {% endif %}
    {% endif %}

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}
    M204 S10000

    G90
    # G1 X0 Y0 F7800
